.content {
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    padding-left: 110px;
}

.content h2 {
    font-size: 3em;
    color: #8a2435;
}

.content p {
    font-size: 1.2em;
    color: #8a2435;
}

.content a {
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: #8a2435;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.imgBx img {
    max-width: 400px;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(50px);
    }
    50% {
        transform: translateY(100px);
    }
}

.sci {
    position: absolute;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.sci li a img {
    transform: scale(0.6);
    transition: 0.5s;
}

.sci li:hover a img {
    transform: scale(0.6) rotate(360deg);
}

.copyrightText {
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: #8a2435;
}