.file {
    margin: 10px 0;
    border-bottom: 1px solid rgba(138, 36, 53, 0.5);
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    align-items: center;
    transition: .5s;

    &__img {
        justify-self: center;
    }

    &__date {
        grid-column-start: 5;
        justify-self: center;
        transition: .5s;
    }

    &__size {
        grid-column-start: 6;
        justify-self: center;
        transition: .5s;
    }

    &__btn {
        display: none;
        transition: .5s;
    }

    &:hover &__date {
        grid-column-start: 3;
        transition: .5s;
    }

    &:hover &__size {
        grid-column-start: 4;
    }

    &:hover &__download {
        grid-column-start: 5;
        display: block;
        width: 100px;
        justify-self: center;
    }

    &:hover &__delete {
        grid-column-start: 6;
        display: block;
        width: 100px;
        justify-self: center;
    }
}